body {
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    background-color: rgb(199, 206, 173);
    background-image: rgb(178, 187, 145);
    font-size: 12;
    text-align: left;
    text-align: center;
    padding: auto;
}