<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static',
    filename='about.css') }} />
  </head>
  <body>
    <h1 class="top">About Us</h1>
    <p class="text_about_us">We were a group of people who wanted to build a website that gives people the ability to find information about states and what states they would like to move to</p>
  </body>
</html>
