<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', filename='about.css') }} />
  </head>
  <body>
    <h1 class="top">About Us</h1>
    <h3 class="text_about_us">
      We were a group of people who wanted to build a website that gives people
      the ability to find information about states and what states they would
      like to move to
    </h3>
    <h3 class="tex_about_us">Robert Bonham</h3>
    <p class="tex_about_us">
      Robert was the frontend developer who helped us implement our frontend
    </p>
    <h3 class="tex_about_us">Maverick Finn</h3>
    <p class="tex_about_us">
      Maverick was a project manager who helped our team make great desing
      decisions
    </p>
    <h3 class="tex_about_us">Amirteimour Sareban</h3>
    <p class="tex_about_us">
      Amir was one of the project managers who kept everything running smoothly
    </p>
    <h3 class="tex_about_us">Dallas Gere</h3>
    <p class="tex_about_us">
      Dallas was the backend developer who made the server and algorithms for
      suggestions
    </p>
  </body>
</html>
