<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='front_page.css') }} />
        <script src="{{url_for('static', filename='front_page.js')}}"></script>
    </head>

    <body>
        <h1>hello! what would you like to do?</h1>
        
        <form action="/suggest_form" method="POST" class="goto_suggestion">
            <input type="submit" value="get a suggestion"/>
        </form>

        <form action="/city_form" method="POST" class="goto_suggestion">
            <input type="submit" value="get info over city"/>
        </form>
    </body>
</html>