

<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='front_page.css') }} />
        <script src="{{url_for('static', filename='front_page.js')}}"></script>
    </head>
        <header class="header_container front_page_header">
            <div class ="header_inner_container">
                <div class="left_inner_container">
                    <ui class="left_nav_links">
                        <!--Addtional contant can added here for the future-->
                        <li ><a href="/Login"> Login </a></li>
                        <li ><a href="/feature"> feature </a></li>
                    </ui>
                </div>

                <div class="center_inner_container">
                    <!--add home url here-->
                    <a href="/#"> <title> My/State</title></a> 
                </div>

                <div class="right_inner_container">
                    <ul class="right_nav_links">
                        <!--Addtional contant can added here for the future-->
                        <li><a href="/suggest_form" method="POST" class="suggestion_Quiz"><button>Take Quiz</button></a></li>
                    </ul>
                    

                </div>

        </header>
    <body>

        <h1 class="Main_Header">You know your taste, We know the science. Let's work together.</h1>
        <h2 class="sub_header">Find the right state for you</h2>

        <div class="first_container">

            <div class="inner_container">

                <div class="pre_built_cell goto_suggestion">
                        <!--this takes the user to the page to get a suggested state
                    <form action="/suggest_form" method="POST" class="goto_suggestion">
                        <picture class="group_header_list"> 
                            <img src="static/Images/suggestion_Icon.png">
                            <input class="suggestion" type="submit" value="get a suggestion"/>
                        </picture>
                    </form>
                        -->
                        <a href="/suggest_form" method="POST" class="goto_suggestion">
                            <picture class="premade_cell_layout"> 
                                <img src="static/Images/suggestion_Icon.png" aria-hidden="true">
                            </picture>
                            <h4 class="premade_pack Title_Cell"> Get a suggestion</h4>
                        </a>
                </div>
            
                <div class="pre_built_cell city_form_container">
                    <!--this takes the user to the city page input form
                    <form action="/city_form" method="POST" class="goto_suggestion">
                        <input class="info_over_city" type="submit" value="get info over city"/>
                    </form>
                    -->
                    <a href="/city_form" method="POST" class="goto_suggestion">
                        <picture class="premade_cell_layout"> 
                            <img src="static/Images/city_scape_Icon.png" aria-hidden="true">
                        </picture>
                        <h4 class="premade_pack Title_Cell"> Get Info on a city</h4>
                    </a>
                </div>

                <div class="pre_built_cell dashboard_container">
                    <a href="/dashboard" method="POST" class="goto_suggestion">
                        <picture class="premade_cell_layout"> 
                            <img src="static/Images/dashboard_Icon.png" aria-hidden="true">
                        </picture>
                        <h4 class="premade_pack Title_Cell"> View Dashboard</h4>
                    </a>
                </div>
            
            </div>
        </div>


    

    </body>
</html>