<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', filename='login.css')
    }} />
</head>

<header class="header_container front_page_header">
    <div class ="header_inner_container">
        <div class="left_inner_container">
            <ui class="left_nav_links">
                <!--Addtional contant can added here for the future-->
                <li ><a href="/Login"> Login </a></li>
                <li ><a href="/about"> About Us </a></li>
            </ui>
        </div>

        <div class="center_inner_container">
            <!--add home url here-->
            <a href="/#"> <title> My/State</title></a> 
        </div>

        <div class="right_inner_container">
            <ul class="right_nav_links">
                <!--Addtional contant can added here for the future-->
                <li><a href="/suggest_form" method="POST" class="suggestion_Quiz"><button>Take Quiz</button></a></li>
            </ul>
        </div>
  </header>

<body>

    <div class="container">
        <div class="forms_container">
            <div class="signin-signup">
                <form action="/dashboard" class="sign-in-form" method="POST">
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" id="username" placeholder="username"     >
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name="password" id="password" placeholder="password" >
                    </div>
                    <input type="submit" name="submit"  id="submit" class="btn solid" value="Login">
                    </form>
            </div>
        </div>
        <div class="panal_container"></div>    
    </div>
</body>
</html>