<html>
  <head>
    <link rel="stylesheet" href={{ url_for('static',
    filename='suggest_page.css') }} />
  </head>
  <body>
    <br />
    <h2>
        {% if final %}
            <h2>states we think you may like</h2>
            {%  for i in final %}
                <h3>"{{i}}"</h3>
            {%  endfor %}
        {% endif %}
        {% if not final %}
            <h3>it looks like there are no states that match your preferences, try the quiz again</h3>
        {% endif %}
    </h2>
  </body>
</html>
