<html>
  <head>
    <link rel="stylesheet" href={{ url_for('static',
    filename='suggest_page.css') }} />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>

  <header class="header_container front_page_header">
    <div class ="header_inner_container">
        <div class="left_inner_container">
            <ui class="left_nav_links">
                <!--Addtional contant can added here for the future-->
                <li ><a href="/Login" class="nav_buttons"> Login </a></li>
                <li ><a href="/about" class="nav_buttons"> About Us </a></li>
            </ui>
        </div>

        <div class="center_inner_container">
            <!--add home url here-->
            <a href="/#"> <title class="title_home"> My/State</title></a>
        </div>

        <div class="right_inner_container">
            <ul class="right_nav_links">
                <!--Addtional contant can added here for the future-->
                <li><a href="/suggest_form" method="POST" class="suggestion_Quiz"><button>Take Quiz</button></a></li>
            </ul>
        </div>
  </header>

  <body id="bootstrap-overrides" class="over">
    <br />
    <!-- <h2>
        {% if final %}
            <h1>Based on your answers, we think you might like these states: </h1>
            {%  for i in range(3) %}
                <h2>State #{{i + 1}}: {{final[i]}}</h2>
            {%  endfor %}
            <br>
            <br>
            <h2>Our methodology</h2>
            <h4>
                Our methodology for the quiz is based of of a points system
                If a state matches your preferences then the state recieves a point
                The top three states that matched your points preferences are displayed below in order
            </h4>
        {% endif %}
        {% if not final %}
            <h3>It looks like we had a hard time making a suggestion based on your answers, please try taking the quiz again.</h3>
        {% endif %}
    </h2> -->

    <h2>these are your top three state suggestions</h2>
    <h3>click a button to find out more</h3>

    <!-- this is the dropdown stuff -->
    <div class="row ">
        <p>
          <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">{{final[0]}}</button>
          <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">{{final[1]}}</button>
          <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="#multiCollapseExample3">{{final[2]}}</button>
        </p>
    </div>
    <div class="row">
      <!-- Username -->
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="m-auto">
          <div class="text-center">
            <form class="m-auto" method="POST" action="/account_settings?f=f1">
                <h1 class="m-4">{{final[0]}}</h1>
                <label for="username" class="visually-hidden-focusable">Username</label>
                <h5 class="para">
                  {{final[0]}} is the number one state that we recommend to you. {{final[0]}} is the state that most aligned with your preferences. {{final[0]}} will be the most optimal place for you to move to if it is not the place you are already living. {{final[0]}} Should be the obvious choice and will be a great place to move to.
                </h5>
            </form>
        </div>
        </div>
      </div>
    </div>
    <!-- University -->
    <div class="row">
      <div class="collapse multi-collapse" id="multiCollapseExample2" >
        <div class="m-auto">
          <div class="text-center">
            <form class="m-auto" method="POST" action="/account_settings?f=f2">
                <h1 class="m-4">{{final[1]}}</h1>
                <label for="university" class="visually-hidden-focusable">University</label>
                <h5 class="para">
                  {{final[1]}} is the second best place that you may want to move to. {{final[1]}} is the state that had not the most preferences aligned but it was still really good. {{final[1]}} may not be the obvious choice, but it should be a choice that makes sense now that you have thought about it. {{final[1]}} will still be a state that matches your preferences really well.
                </h5>
            </form>
        </div>
      </div>
    </div>
    <!-- Password -->
    <div class="row">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="m-auto">
          <div class="text-center">
            <form class="m-auto" method="POST" action="/account_settings?f=f3">
                <h1 class="m-4">{{final[2]}}</h1>
                <label for="password" class="visually-hidden-focusable">Username</label>
                <h5 class="para">
                  {{final[2]}} is a state that you probably would never have though about moving to before. {{final[2]}} may not have been your first or second choice, however that is not a bad thing. {{final[2]}} is still top three out of fifty and you may be very surprised as to what you find in this state. Maybe you'll end up liking more than the first pick!
                </h5>
            </form>
        </div>
      </div>
    </div>

  </div>
  
    <!-- this is the end of the dropdown stuff -->
  </div>

     <!-- Option 1: Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
