<html>
  <head>
    <link rel="stylesheet" href={{ url_for('static',
    filename='suggest_page.css') }} />
  </head>

  <header class="header_container front_page_header">
    <div class ="header_inner_container">
        <div class="left_inner_container">
            <ui class="left_nav_links">
                <!--Addtional contant can added here for the future-->
                <li ><a href="/Login"> Login </a></li>
                <li ><a href="/about"> About Us </a></li>
            </ui>
        </div>

        <div class="center_inner_container">
            <!--add home url here-->
            <a href="/#"> <title> My/State</title></a> 
        </div>

        <div class="right_inner_container">
            <ul class="right_nav_links">
                <!--Addtional contant can added here for the future-->
                <li><a href="/suggest_form" method="POST" class="suggestion_Quiz"><button>Take Quiz</button></a></li>
            </ul>
        </div>
  </header>

  <body>
    <br />
    <h2>
        {% if final %}
            <h2>Based on your answers, we think you might like these states: </h2>
            {%  for i in final %}
                <h3>"{{i}}"</h3>
            {%  endfor %}
        {% endif %}
        {% if not final %}
            <h3>It looks like we had a hard time making a suggestion based on your answers, please try taking the quiz again.</h3>
        {% endif %}
    </h2>
  </body>
</html>
