<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='suggest.css') }} />
        <script src="{{url_for('static', filename='front_page.js')}}"></script>
    </head>

    <body>
        <h2>get a suggestion!</h2>

        <p>do you want to live somewhere with snow?</p>
        <form id="snow_answer" class="suggest_form" action="/suggest_page" method="POST">
            <select name="snow_answer" id="snow_answer">
                <option data-count="1" value="yes">yes</option>
                <option data-count="2" value="no">no</option>
            </select>
            <br>
            <p>do you want to live somewhere with lots of rainfall?</p>
            <select name="rain_answer" id="rain_answer">
                <option data-count="1" value="yes">yes</option>
                <option data-count="2" value="no">no</option>
            </select>
            <br>
            <input type="submit"/>
        </form>
    </body>
</html>